[submodule "dot-oh-my-zsh/custom/themes/powerlevel10k"]
	path = dot-oh-my-zsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "dot-oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = dot-oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "dot-oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = dot-oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "dot-tmux/plugins/tmux"]
	path = dot-tmux/plugins/tmux
	url = https://git::@github.com/dracula/tmux
[submodule "dot-tmux/plugins/tpm"]
	path = dot-tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "dot-tmux/plugins/vim-tmux-navigator"]
	path = dot-tmux/plugins/vim-tmux-navigator
	url = https://git::@github.com/christoomey/vim-tmux-navigator
